:root {
  --header-color: #d0d6f9;
  --background-color: #0b0d17;
}
* {
  padding: 0;
  margin: 0;
}
html {
  top: 0;
}

body {
  padding: 0;
  margin: 0;
  color: #fff;
}

h1 {
  font-family: "Bellefair", serif;
  font-size: 150px;
}
h2 {
  font-family: "Bellefair", serif;
  font-size: 100px;
}
h3 {
  font-family: "Bellefair", serif;
  font-size: 56px;
}
h4 {
  font-family: "Bellefair", serif;
  font-size: 32px;
}
h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  letter-spacing: 4.75;
}
p {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}
ul {
  list-style: none;
}
.container {
  width: calc(100% - 205px);

  margin-left: auto;
  margin-right: auto;
}

/*====================1️⃣ SECTION 1️⃣ ==================== */

/* +========= START HEADER ==========+ */
header {
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  position: fixed;
  top: 10px;
  z-index: 100;
  width: 100%;
}
header .list__background {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  position: absolute;
  width: 60%;
  height: 100%;
  right: 0;
  z-index: 0;
}
header .list__background::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 1px;
  background-color: red;
  top: 50%;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
  transform: translate(-90%, -50%);
  left: 0%;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
header nav ul {
  display: flex;
  justify-content: space-between;
}
header nav ul li {
  padding: 38px 0;
  margin: 0 25px;
  font-family: "Barlow Condensed";
  letter-spacing: 2.7px;
  text-transform: uppercase;
  position: relative;
  height: 100%;
  cursor: pointer;
}
header nav ul li::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: 0%;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}
header nav ul li:hover:after {
  opacity: 1;
}
header nav ul li.active::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: 0%;
  left: 0;
  opacity: 1;
}
header nav ul li span {
  font-weight: 800;
  margin: 0 5px;
}
header .logo {
  background-color: white;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
/* ========== END HEADER =========== */

/* ========== START SECTION CONTENT ========== */
.sections__holder {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.section__one {
  background-image: url(../images/Desktop\ -\ Home.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: 0.3s ease-in-out;
}
.section__content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.section__one .section__content .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.section__text {
  width: 450px;
  height: 382px;
  margin-top: 150px;
}
.section__text h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  margin: 0;
  /* identical to box height */

  letter-spacing: 4.725px;
}
.section__text h1 {
  margin: 0;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 172px;
}
.section__text p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
}
.explore {
  background-color: white;
  width: 274px;
  height: 274px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  position: relative;
}

.explore::before {
  content: "";
  width: 274px;
  height: 274px;
  color: white;
  opacity: 0.2;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  z-index: 0;
  transition: 0.5s;
}
.explore:hover::before {
  width: 374px;
  height: 374px;
}
.explore h4 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  z-index: 1;
  /* identical to box height */

  letter-spacing: 2px;

  color: #0b0d17;
}

/*====================2️⃣ SECTION 2️⃣ ==================== */
.section__two {
  background-image: url(../images/Desktop\ -\ Destination\ -\ A.png);

  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: 0.3s ease-in-out;
}
.section__two .section__content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  margin-top: 70px;
}

.section__two .section__content .container h5 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  margin-left: 100px;
  /* identical to box height */

  letter-spacing: 4.725px;
  text-transform: uppercase;
}
.section__two .section__content .container h5 span {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */

  letter-spacing: 4.725px;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.25;
}

.section__info {
  display: flex;
  justify-content: space-between;
}
.planet__img {
  width: 400px;
  height: 400px;
  margin: auto;
}
.planet__img img {
  width: 100%;
}

/* ====ONLY FOR THE MOON ====  */
.planet__img.moon {
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
}
.planet__img.moon::after {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  border-color: black;
  border-radius: 50%;
  box-shadow: -40px -40px 50px 2px #000 inset;
}
.planet__img.moon > div {
  height: 100%;
  width: 200%;
  animation: spin 40s linear alternate infinite;
  background: url(../images/colormap.jpg);
  background-repeat: repeat-x;
  position: absolute;
}
@keyframes spin {
  to {
    transform: translateX(-25%);
  }
}
.planet__info {
  width: 40%;
}
.planet__info ul {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}
.planet__info ul li {
  margin-right: 20px;
  padding: 0;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #d0d6f9;
  position: relative;
  cursor: pointer;
}
.planet__info ul li::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 3px;
  background-color: white;
  bottom: -10px;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}
.planet__info ul li:hover::before {
  opacity: 0.5;
}
.planet__info ul li.active {
  color: #fff;
}
.planet__info ul li.active::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 3px;
  background-color: white;
  bottom: -10px;
  left: 0;
  opacity: 1;
}
.planet__info h1 {
  margin: 0;
  padding: 0;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 115px;
  /* identical to box height */

  color: #ffffff;
}
.planet__info p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
  margin-bottom: 40px;
  color: #d0d6f9;
}
.planet__info hr {
  opacity: 0.3;
  margin-bottom: 20px;
}
.info__holder {
  display: flex;
  justify-content: space-between;
}
.info__holder p {
  text-transform: uppercase;
  margin: 10px 0;
}
.info__holder #distance {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
}
.info__holder #days {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
}

/*==================== 3️⃣ SECTION 3️⃣ ==================== */
.section__three {
  background-image: url(../images/Desktop\ -\ Crew\ -\ A.png);

  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: 0.3s ease-in-out;
}
.section__three .section__content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  margin-top: 70px;
}
.section__three .section__content .container h5 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;

  /* identical to box height */

  letter-spacing: 4.725px;
  text-transform: uppercase;
}
.section__three .section__content .container h5 span {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */

  letter-spacing: 4.725px;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.25;
}

.crew__info {
  width: 50%;
}
.crew__pos {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  margin-top: 100px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.5;
}
.crew__name {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  text-transform: uppercase;
  margin: 20px 0;

  color: #ffffff;
}
.crew__discrebtion {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
  width: 70%;
  color: #d0d6f9;
}
.section__three ul {
  display: flex;
  margin-top: 80px;
}
.crew__btns {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  margin-right: 20px;
  opacity: 0.17;
  transition: 0.5s;
  cursor: pointer;
}
.crew__btns:hover {
  opacity: 1;
}
.crew__btns.active {
  opacity: 1;
}
.crew__img {
  display: flex;
  justify-content: center;
  width: 50%;
}

/*==================== 4️⃣ SECTION 4️⃣ ==================== */
.section__four {
  background-image: url(../images/techno.jpg);
  transform: translateX();
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: 0.3s ease-in-out;
}
.section__four .section__content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  margin-top: 70px;
}
.section__four .section__content .container {
  width: calc(100% - 102px);
  margin-left: 102px;
}
.section__four .section__content .container h5 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;

  /* identical to box height */

  letter-spacing: 4.725px;
  text-transform: uppercase;
}
.section__four .section__content .container h5 span {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */

  letter-spacing: 4.725px;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.25;
}
.section__four .section__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__four ul {
  padding-right: 100px;
}
.tech__btns {
  text-align: center;
  margin: 25px 0;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.294);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.tech__btns p {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  opacity: 1;
  /* identical to box height */

  text-align: center;
  letter-spacing: 2px;

  color: white;
}
.tech__btns:hover {
  background-color: white;
}
.tech__btns:hover > p {
  color: #0b0d17;
  transition: 0.5s;
}
.tech__btns.active,
.tech__btns.active p {
  color: #0b0d17;
  background-color: white;
}
.tech__info {
  width: 50%;
}
.tech__dis {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;

  color: #d0d6f9;
}
.tech__name {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  margin: 15px 0;
  color: #ffffff;
}
.tech__discrebtion {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
  width: 80%;

  color: #d0d6f9;
}
.tech__img {
  display: flex;
  justify-content: flex-end;
  width: 41%;
  position: relative;
}

/* ====OVER WRITE CLASSES==== */
.hide {
  display: none;
}

.forWho {
  display: none;
  background-color: #0b0d17;
  border: #292929 2px solid;
  border-radius: 10px;
  width: 140px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.forWho p {
  font-size: 20px;
}
.forWho img {
  width: 140px;
}
/* =============================START RESPONSIVE============================= */
@media (max-width: 767px) {
  .sections__holder {
    display: none;
  }
  header {
    display: none;
  }
  .forWho {
    display: block;
  }
  body {
    background-color: #27212e;
  }
}
@media (min-width: 768px) and (max-width: 1112px) {
  .sections__holder {
    display: none;
  }
  header {
    display: none;
  }
  .forWho {
    display: block;
  }
  body {
    background-color: #2f2837;
  }
}
